<html style="background-color: lightblue;"></html>
<h1 style="padding-left: 450px;">Our Current Products</h1>

<body>
<div class="container p-5 my-5 bg-dark text-white">
<div class="row">
<div class="list-group list-group-numbered; col-sm-4">
<h3>FRESH CUT FRUIT</h3>
    <li><a href="" class="list-group-item list-group-item-action">Grapes</a>............ $.75</li>
    <li><a href="" class="list-group-item list-group-item-action">Pineapples</a>...... $1.25</li>
    <li><a href="" class="list-group-item list-group-item-action">Watermelon</a>.... $2.00</li>
    <li><a href="" class="list-group-item list-group-item-action">Mango</a>............ $1.50</li>
    <li><a href="" class="list-group-item list-group-item-action">Strawberries</a>... $2.00</li>
</div>

<div class="list-group; col-sm-4">
<h3>SPORTING GOODS</h3>
  <li><a href="" class="list-group-item list-group-item-action">Basketball</a>...... $15.00</li>
  <li><a href="" class="list-group-item list-group-item-action">Baseball</a>......... $6.00</li>
  <li><a href="" class="list-group-item list-group-item-action">Volleyball</a>...... $11.00</li>
  <li><a href="" class="list-group-item list-group-item-action">Soccer Ball</a>.... $8.00</li>
  <li><a href="" class="list-group-item list-group-item-action">Tennis Ball</a>.... $4.00</li>
  </div>

<div class="list-group; col-sm-4">
<h3>OUTDOOR ACCESSORIES</h3>
  <li><a href="" class="list-group-item list-group-item-action">Lawn Chair</a>............... $15.00</a></li>
  <li><a href="" class="list-group-item list-group-item-action">Yeti Cooler</a>................ $400.00</a></li>
  <li><a href="" class="list-group-item list-group-item-action">Shade Tent</a>................ $200.00</a></li>
  <li><a href="" class="list-group-item list-group-item-action">All Terrain Wagon</a>.... $175.00</a></li>
  <li><a href="" class="list-group-item list-group-item-action">Handheld Fan</a>........... $25.00</a></li>
  </div>
</div>
</div>
</body>

