<html style="background-color: lightblue;"></html>
<h1 style="padding-left: 450px;">Our Current Products</h1>

<body>
<div class="container p-5 my-5 bg-dark text-white">
<div class="row">
<div class="col-sm-4">
<h2>FRESH CUT FRUIT</h2>
<ol>
  <li>Grapes</li>
  <li>Pineapples</li>
  <li>Watermelon</li>
  <li>Mango</li>
  <li>Strawberries</li>
</ol></div>

<div class="col-sm-4">
<h3>SPORTING GOODS</h3>
<ol>
  <li>Basketball</li>
  <li>Baseball</li>
  <li>Volleyball</li>
  <li>Soccer Ball</li>
  <li>Tennis Ball</li>
</ol></div>

<div class="col-sm-4">
<h4>OUTDOOR ACCESSORIES</h4>
<ol>
  <li>Lawn Chair</li>
  <li>Yeti Cooler</li>
  <li>Shade Tent</li>
  <li>All Terrain Wagon</li>
  <li>Handheld Fan</li>
</ol></div>
</div>
</div>
</body>