<html style="background-color: lightblue;"></html>
<h1 style= "padding-left: 265px">Welcome to Henry's Webstore! We've got the goods!</h1>
<h2 style= "padding-left: 230px">Shop here for a variey of sporting goods, fresh foods, and outdoor accessories.</h2>

<div class="container"><body>
Here at Henry's Webstore we take pride in producing quality products for sale to buyers of all kind. We will go above and beyond to ensure that our customers are pleased with their online experience, and do everything we can to resolve any issues in a peaceful manner. Our company was created and structed off a set of morals: to love everyone and have fun while doing it.  
</body></div>

<ol style="; padding-left: 425px"><ul class="dropdown-menu">
  <li><a class="dropdown-item" href="#">I would like to remain in the shape I'm in.</a></li>
  <li><a class="dropdown-item" href="#">I want to work on my physique, tone up, or gain weight.</a></li>
  <li><a class="dropdown-item" href="#">I want to lose weight, and/or tone up.</a></li>
</ul></ol>


<ol>
<% @articles.each do |article| %>
<li>
<%= article.title%>
</li>
<% end %>
</ol>